body {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	font: 16px;
	font-family: Georgia; 
	background-color: #F0F8FF;
}


#button {
	margin-left: 40%;
	margin-right: 40%;
	background-color: #213862;

	border-radius: 15px;
	height: 100px;
}

#container {
	<!--width: 800px;
	margin: 40px auto 60px;-->
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #C4CECD;

	text-align: left;
}

#content-contact {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#content-summarycontent {
	margin: 0 0 16px 0;
	padding: 0 0 32px 0;

	font-style: italic;
	font-size: 20px;
}

#content-professionalheader {
	font-size: 28px;
}

.date {
	float: right;
}

h3 {
	border-bottom: 1px solid #999;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
